<html>
<head>
<link rel="stylesheet" href="stylesheets/style.css">
<link rel="stylesheet" href="stylesheets/about.css">

<script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
<script src="javascripts/about.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.min.js"></script>
</head>
<body>

  <header id="brand">
      <h2 id="chain">CHAIN</h2>
      <h2 id="duel">DUEL</h2>
  </header>

  <div class="flex full flex-center">


    <div id="about">
      <h1>About</h1>
      <div class="center max-800 text-center">Coming soon</div>
      <button onclick="location.href='/';" class="button" id="mainmenubutton" type="button">MAIN MENU</button>
    </div>




    <!--

    Breakdown splits
    Technical explaination on how the game connects to the ligtning node
    Security issues
    Show line of code that randomly places the next circle on the game
    Talk about the name on the note

    Upsell:
    Want to order a box to your bitcoin cafe, meetup place, arcade join?
    10,000,000 sats
    Order Now

    Add more information on how to get support in case there's issues
    List of tested wallets

    Road map
      - Online game (domain? chainduel.io ?)
      - More game modes
        • Shooting projectiles to reset the opponent's chain to 2 blocks
        • Allow players to define the map size
        • Allow users to define speed
      - Functionality to create standard LN invoice for wallets that don't support LNURL

    -->

  </div>


</body>
</html>
