<html>
<head>
<link rel="stylesheet" href="stylesheets/style.css">
<link rel="stylesheet" href="stylesheets/about.css">

<script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
<script  type="module" src="javascripts/about.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.min.js"></script>
<title>Chain Duel</title>
<link rel="icon" type="image/x-icon" href="/images/favicon.png">
</head>
<body>

  <header id="brand">
      <h2 id="chain">CHAIN</h2>
      <h2 id="duel">DUEL</h2>
  </header>

  <div class="flex full flex-center">
    <div id="about">

      <div class="pages">

        <div id="page-1" class="page">
          <div class="page-inner">
            <h1>About</h1>
            <p class="text-upscale">
              Chain Duel is a Lightning-native game that combines the timeless appeal of the classic Snake game with the world of competitive gaming and Bitcoin.
            </p>
            <p>
              In Chain Duel, two players engage in a head-to-head showdown where Lightning payments are placed as bets before the game begins and attempt to be the Chain with the most Proof of Work by capturing the upcoming coinbases. The winner takes home the combined deposits, minus a small fee.
            </p>
          </div>
          <div class="pager">
            1/5
          </div>
        </div>

        <div id="page-2" class="page">
          <div class="page-inner">

            <div class="mb-30">
              <h2 class="label">
                Past Sponsors
              </h2>
              <p>
                Thank you for the support.
              </p>
              <img class="inline-logo" src="images/sponsors/bitcoin_magazine.svg" />
              <img class="inline-logo" src="images/sponsors/piratehash.png" />
              <img class="inline-logo" src="images/sponsors/bitbox.png" />
              <img class="inline-logo" src="images/sponsors/relai_bg.svg" />
            </div>

            <div>
              <h2 class="label">
                INFRASTRUCTURE
              </h2>
              <p>
                The architecture integrates multiple open-source projects and encourages the adoption of Bitcoin as a payment system.
              </p>
              <img class="inline-logo" src="images/about/bitcoin_core.png" />
              <img class="inline-logo" src="images/about/lnd.png" />
              <img class="inline-logo" src="images/about/rtl.png" />
              <img class="inline-logo" src="images/about/lnbits.png" />
            </div>

          </div>

          <div class="pager">
            2/5
          </div>
        </div>

        <div id="page-3" class="page">
          <div class="page-inner">
            <div>
              <h2 class="label">
                Value-for-value
              </h2>
              <p>
                A fraction of the wagered sats is distributed on Lightning to the contributors of the project.
              </p>
              <img class="value" src="images/about/value-for-value.png" />
            </div>
          </div>
          <div class="pager">
            3/5
          </div>
        </div>

        <div id="page-4" class="page center">
          <div class="page-inner">
            <div class="credits">
              <div class="span-all" style="padding-bottom:2vw">
                <h2 class="label">
                  Contribute
                </h2>
                <img src="/images/contributionsqr.png" class="qrcode" style="width: 15vw;">
              </div>
              <div class="credit">
                <p>
                  <img src="/images/github.png" style="width: 1vw;">
                  francismars/chain-duel
                </p>
              </div>
              <div class="credit">
                <p>
                  <img src="/images/twitter.webp" style="width: 1vw;">
                  @chainduel
                </p>
              </div>
              <div class="credit">
                <p>
                  <img src="/images/telegram_logo.webp" style="width: 1vw;">
                  t.me/chainduel
                </p>
              </div>
              <div class="credit">
                <p>
                  <img src="/images/geyserfund.svg" style="width: 1vw;">
                  chainduel
                </p>
              </div>
            </div>
          </div>
          <div class="pager">
            4/5
          </div>
        </div>

      <div id="page-5" class="page center">
        <div class="page-inner">
          <div class="credits">
            <div class="credit span-all">
              <p class="label">
                DEVELOPED BY
              </p>
              <p class="condensed credit-name">
                Francis Mars
              </p>
            </div>
            <div class="credit">
              <p class="label">
                VISUALS BY
              </p>
              <p class="condensed credit-name">
                Anatomy of Bitcoin
              </p>
            </div>
            <div class="credit">
              <p class="label">
                MUSIC BY
              </p>
              <p class="condensed credit-name">
                kikithespace
              </p>
            </div>
            <div class="credit">
              <p class="label">
                COORDINATED BY
              </p>
              <p class="condensed credit-name">
                Pat Riley
              </p>
            </div>
            <div class="credit">
              <p class="label">
                PRODUCED BY
              </p>
              <p class="condensed credit-name">
                Scott Lee
              </p>
            </div>
            <div class="credit span-all liquidity">
              <p class="label">
                THANK YOU FOR THE LIQUIDITY
              </p>
              <p class="condensed credit-name">
                REMNET, MYBONK_ElSalvador, valker, sparkBlitz, Breez, Mandelduck, Nathan Day
              </p>
            </div>
          </div>
        </div>
        <div class="pager">
          5/5
        </div>
      </div>
    </div>

      <div class="double-button">
        <button class="button" id="prevButton" type="button">Prev</button>
        <button class="button" id="nextButton" type="button">Next</button>
      </div>
      <button onclick="location.href='/';" class="button" id="mainmenubutton" type="button">MAIN MENU</button>
    </div>

    <!--


    immediate todo:
    – Add sound when collecting reward
    - Add sound for button navigation
    - Change music in winning screens and claiming prize
    - display none by default on braket payment div (glitch after the game back to bracker)

    Breakdown splits
    Technical explaination on how the game connects to the ligtning node
    Security issues
    Show line of code that randomly places the next circle on the game
    Talk about the name on the note
    • twitter/nostr profile image lookup? If found, add profile image on tournament and inplay name
    • AB test starting the game with no reward, and both chains moving. After the first player moves, countdown to the first random reward.
    • Make demo video to pop up autmaticaly after idle or by pressing a button on index.

    Upsell:
    Want to order a box to your bitcoin cafe, meetup place, arcade join?
    10,000,000 sats
    Order Now

    Add more information on how to get support in case there's issues
    List of tested wallets

    Road map
      - Play against AI
        • AI has a wallet that connectes to all games.
        • Max bet against AI calculated based on current treasury and player traffic statistics.
        • Player bets agains AI and if they loose, AI takes all.
        • AI will alays match the bet. If player wins takes from AI and max bet is calculated.
        • More games, more fees
      - Online game (domain? chainduel.io ?)
      - More game modes
        • Shooting projectiles to reset the opponent's chain to 2 blocks
        • Allow players to define the map size
        • Allow users to define speed
      - Functionality to create standard LN invoice for wallets that don't support LNURL

    -->

  </div>

  <audio id="audio" autoplay loop>
    <!--
      <source src="/sound/chain_duel_1.ogg" type="audio/ogg"/>
      <source src="/sound/chain_duel_1.mp3" type="audio/mpeg"/>
    -->
    <source src="/sound/chain_duel_produced_menu.m4a" type="audio/x-m4a">
    </audio>
</body>
</html>
