<html>
<head>
<link rel="stylesheet" href="stylesheets/style.css">
<link rel="stylesheet" href="stylesheets/gameMenu.css">
<script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.min.js"></script>
<link rel="icon" type="image/x-icon" href="/images/favicon.png">
<title>Chain Duel</title>
</head>
<body>
  <header id="brand">
      <h2 id="chain">CHAIN</h2>
      <h2 id="duel">DUEL</h2>
  </header>
  <div class="flex full">
    <div>
    <!-- hack to center the next div on the page -->
    </div>
    <div>
        <div>

          <div class="sponsorship" id="sponsorshipGameMenu">
            <div class="sponsored-by-label label" id="sponsoredByLabelGameMenu"></div>
            <img src="" class="sponsored-img" id="sponsoredImgGameMenu" />
          </div>

          <h2 id="gameMenuTitle" class="hero-outline condensed">STAKE YOUR SATS</h2>
          <p id="titleslogan">Rules</p>
        </div>
        <div id="centerSection">
            <div id="gameCard">
              <p class="ruleTitle">1. Winner takes all</p>
              <p class="gameDescription grey">Deposit your bets, play, redeem.</p>
              <p class="gameDescription grey">Epoch ends when one chain hits zero sats.</p>
            </div>
            <div id="gameCard">
              <p class="ruleTitle">2. Longer chains steal more sats</p>
              <p class="gameDescription grey">Capture coinbases to get a longer chain.</p>
              <p>
              <table class="gameDescription grey rewards">
                <tr>
                  <td class="reward-blocks">Chain Length</td>
                  <td class="reward-percent"><b>Reward</b><td>
                </tr>
                <tr>
                  <td class="reward-blocks">2 blocks</td>
                  <td class="reward-percent"><b>2%</b></td>
                </tr>
                <tr>
                  <td class="reward-blocks">3 blocks</td>
                  <td class="reward-percent"><b>4%</b></td>
                </tr>
                <tr>
                  <td class="reward-blocks">4-7 blocks</td>
                  <td class="reward-percent"><b>8%</b></td>
                </tr>
                <tr>
                  <td class="reward-blocks">8-15 blocks</td>
                  <td class="reward-percent"><b>16%</b></td>
                </tr>
                <tr>
                  <td class="reward-blocks">16+ blocks</td>
                  <td class="reward-percent"><b>32%</b></td>
                </tr>
              </table>
            </p>
            </div>
            <div id="gameCard">
              <p class="ruleTitle">3. Reset/respawn</p>
              <p class="gameDescription grey">Hitting walls or the other chain resets to genesis.</p>
              <p class="gameDescription grey">Head-to-head collisions reset both chains.</p>
            </div>

            <!--
            <div id="gameCard">
                <div id="gameImage"><img src="images/rule1.gif"/></div>
                <p class="ruleTitle">Longest Chain</p>
                <p class="gameDescription grey">2 block long chain captures 2% of the Sats. 3 blocks length capture 4%, 4-7 length 8%, 8-15 length 16%, 16+ length 32%.</p>
            </div>
            <div id="gameCard">
                <div id="gameImage"><img src="images/Rule2.jpg"/></div>
                <p class="ruleTitle">Protocol Limits</p>
                <p class="gameDescription grey">Touching the other chain, or the walls, resets your chainsize to 2 blocks. Head-on collisions resets both chains.</p>
            </div>
            <div id="gameCard">
                <div id="gameImage"><img src="images/Rule3.jpg"/></div>
                <p class="ruleTitle">Trending to Zero</p>
                <p class="gameDescription grey">Game ends when a player reaches zero Sats.</p>
            </div>
          -->
        </div>

        <div id="gameButtons">
            <button onclick="location.href='/';" class="button" id="mainmenubutton" type="button">MAIN MENU</button>
            <button class="button disabled" id="startgame" type="button">READY TO START</button>
        </div>
    </div>
    <div id="bottomInfo">
        <div id="player1card">
            <image id="qrcode1" class="qrcode"></image>
            <div id="player1cardinfo" class="player-card-info">
                <div class="player-sats">
                  <span id="player1sats">0</span> <span class="grey sats-label">sats</span>
                </div>
                <div id="player1info" class="condensed">
                  <div class="inline playerSquare white"></div>
                  <div class="inline">Player 1</div>
                </div>
                <div class="deposit-message">
                  Deposit between <span id="mindepP1"><b>10,000</b></span> and <b>10,000,000</b> sats
                  <br>
                  Set player name on the payment note
                  <br>
                  LNURL compatible wallet required
                  <br>
                  Allows for multiple deposits
                </div>
            </div>
        </div>
        <div id="prizeinfocard">
            <p id="prizevaluesats" class="condensed">0</p>
            <p id="prizeinfosats">Total Prize (sats)</p>
            <p id="splits">
              <span id="rules1">host 2% (0 sats)</span> • <span id="rules2">developer 2% (0 sats)</span> • <span id="rules3">designer 1% (0 sats)</span>
            </p>
            <div id="leaderboard"><p id="leaderboard-inner"><span id="leaderboardSats">0</span> sats qualifies for highscore</p></div>
        </div>
        <div id="player2card">
            <div id="player2cardinfo" class="player-card-info">
                <div class="player-sats">
                  <span class="grey sats-label">sats</span> <span id="player2sats">0</span>
                </div>

                <div id="player2info" class="condensed">
                  <div class="inline">Player 2</div>
                  <div class="inline playerSquare black"></div>
                </div>
                <div class="deposit-message">
                  Deposit between <span id="mindepP2"><b>10,000</b></span> and <b>10,000,000</b> sats
                  <br>
                  Set player name on the payment note
                  <br>
                  LNURL compatible wallet required
                  <br>
                  Allows for multiple deposits
                </div>
            </div>
            <image id="qrcode2" class="qrcode"></image>
        </div>
    </div>
  </div>

  <audio id="audio" autoplay loop>
    <!--
      <source src="/sound/chain_duel_1.ogg" type="audio/ogg"/>
      <source src="/sound/chain_duel_1.mp3" type="audio/mpeg"/>
    -->
    <source src="/sound/chain_duel_produced_menu.m4a" type="audio/x-m4a">
  </audio>

  <div class="overlay" id="loading">
    <img src="images/loading.gif">
  </div>


</body>
<script  type="module" src="javascripts/gameMenu.js"></script>
<script  type="module" src="javascripts/value.js"></script>
</html>
