<html>
    <head>
        <link rel="stylesheet" href="stylesheets/style.css">
        <link rel="stylesheet" href="stylesheets/index.css">
        <script type="module" src="javascripts/index.js"></script>
        <script type="module" src="javascripts/value.js"></script>
        <title>Chain Duel</title>
        <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    </head>
    <body>
        <div class="flex full flex-center">

          <div class="sponsorship" id="sponsorship-index">
            <div class="sponsored-by-label label" id="sponsored-by-label-index"></div>
            <img src="" class="sponsored-img" id="sponsored-img-index" />
          </div>

          <!--
          <img id="logo" src="/images/bitcoin_magazine.svg" alt="Bitcoin Magazine logo">
          <p id="presents">presents</p>
          -->

          <h1 id="chainduel">CHAIN DUEL</h1>
          <p id="slogan">KEEPING ONE BLOCK AHEAD</p>
          <div>
              <button onclick="location.href='/gameMenu';" class="button" id="startgame" type="button">START NEW GAME</button>
              <button onclick="location.href='/tournprefs';" class="button" id="starttourn" type="button">START TOURNAMENT</button>
              <div class="double-button">
                <button onclick="location.href='/about';" class="button" id="aboutbutton" type="button">ABOUT</button>
                <button onclick="location.href='/highscores';" class="button" id="highscoresbutton" type="button">HIGHSCORES</button>
              </div>
          </div>
          <div id="bottomInfo">
              <p id="rules1">P2P: Requires 2 players.</p><!---<br>Pay any amount to play, first one to reach zero loses.</p>-->
              <p id="rules2"><span id="split1">2% to the Sponsor (@piratehash)</span> · <span id="split2">2% to the developer (@francismars)</span> · <span id="split3">1% to the designer (@bitcoinanatomy)</span></p>
              <p id="version">Version 0.02 Beta — Support at t.me/chainduel</p> <!--- — github.com/francismars/chain-duel</p>-->
          </div>
        </div>

        <audio id="audio" autoplay loop>
        <!--
          <source src="/sound/chain_duel_1.ogg" type="audio/ogg"/>
          <source src="/sound/chain_duel_1.mp3" type="audio/mpeg"/>
        -->
        <source src="/sound/chain_duel_produced_menu.m4a" type="audio/x-m4a">
        </audio>
    </body>
</html>
