<html>
    <head>
        <link rel="stylesheet" href="stylesheets/style.css">
        <link rel="stylesheet" href="stylesheets/index.css">
        <script src="javascripts/index.js"></script>
    </head>
    <body>

        <div class="flex full flex-center">
          <img id="logo" src="/images/bitcoin2023.jpg" alt="bitcoin2023logo">
          <p id="presents">presents</p>
          <h1 id="chainduel">CHAIN DUEL</h1>
          <p id="slogan">KEEPING ONE HASH AHEAD</p>
          <a id="buttonlink" href="/gameMenu">
          <button id="startgame" type="button">START NEW GAME</button>
          </a>
          <div id="bottomInfo">
              <p id="rules1">Pay any amount to play, first one to reach zero loses.</p>
              <p id="rules2">1% to the host · 1% to the developer</p>
          </div>
        </div>

    </body>
</html>
