<html>
    <head>
        <link rel="stylesheet" href="stylesheets/style.css">
        <link rel="stylesheet" href="stylesheets/index.css">
        <script src="javascripts/index.js"></script>
    </head>
    <body>

        <div class="flex full flex-center">
          <img id="logo" src="/images/bitcoin_magazine.svg" alt="Bitcoin Magazine logo">
          <p id="presents">presents</p>
          <h1 id="chainduel">CHAIN DUEL</h1>
          <p id="slogan">KEEPING ONE BLOCK AHEAD</p>

          <div>
            <a id="buttonlink" href="/gameMenu">
              <button class="button" id="startgame" type="button">START NEW GAME</button>
            </a>
            <a id="buttonlink" href="/about">
              <button class="button" id="aboutbutton" type="button">ABOUT</button>
            </a>
            <a id="buttonlink" href="/highscores">
              <button class="button" id="highscoresbutton" type="button">HIGHSCORES</button>
            </a>
          </div>

          <div id="bottomInfo">
              <p id="rules1">P2P: Requires 2 players.<br>Pay any amount to play, first one to reach zero loses.</p>
              <p id="rules2">1% to the host (bitcoin2023) · 1% to the developer (@francismars)</p>
              <p id="version">Version 0.01 Alpha — Support at t.me/+nINFPnN_AS4yYTFh — github.com/francismars/chain-duel</p>
          </div>
        </div>






        <audio id="audio" autoplay loop>
          <source src="/sound/chain_duel_1.ogg" type="audio/ogg"/>
          <source src="/sound/chain_duel_1.mp3" type="audio/mpeg"/>
        </audio>




    </body>
</html>
