#about{
    margin: 0 29vw;
}


#mainmenubutton {
    animation: glowing 2000ms infinite;
}


.pages {
    position: relative;
    height: 35vw;
}

.page {
    position: absolute;
    font-size: 1.3vw;
    height: 100%;
    width: 100%;
}

.page-inner{
  display: flex;
  height: 80%;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  align-content: center;
  row-gap: 0%;
}

.page-inner h1 {
  margin: auto;
  margin-bottom: 1rem;
}


.pager {
  margin: 2% auto;
  text-align: center;
  letter-spacing: 0.5rem;
  width: 100%;
  font-size: 1vw;
}


.page p{
    margin-top: 0;
    line-height: 1.8vw;
}

#page-2{
    display: none;
}
#page-3{
    display: none;
}
#page-4{
    display: none;
}
#page-5{
    display: none;
}

p.text-upscale {
    text-transform: uppercase;
}

h2.label {
    font-size: 1.5vw;
    letter-spacing: 0.01rem;
    margin-bottom: 3%;
}



img.value{
    width: 100%;
}



img.inline-logo {
    height: 2.5vw;
    display: inline;
    margin-right: 15px;
}




.double-button{
  width: 25%;
  display: flex;
  margin: auto;
  justify-content: center;
  text-transform: uppercase;
  column-gap: 3%;
}

.double-button .button{
  display: inline-block;
  width: 50%;
  height: 8%;
  padding: 4%;
}

#prevButton{
    animation: glowing 0ms infinite;
}


#nextButton{
    animation: glowing 0ms infinite;
}


.credits {
  columns: 2;
  text-align: center;
  width: 100%;
}

.credit .label {
    margin-bottom: 1%;
    font-size: 1cqw;
}

.credit .credit-name {
    margin-bottom: 6%;
    font-size: 3vw;
    letter-spacing: 0.005rem;
}

.credits .span-all{
  column-span: all;
  margin: auto;
}

.credits .liquidity .credit-name{
  font-size: 2vw;
  letter-spacing: 0.01rem;
}
