body {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url(../images/chainduel_bg.jpg);
}




.config-row {
  display: flex;
  width: 50vw;
  margin: auto;
  justify-content: space-between;
  height: 4vw;
}

.config-row.disabled{
  opacity: 0.3;
}

.config-row-text .label {
    text-align: left;
}

.config-row button {
    margin-right: 0;
    height: 2.5vw;
}


.value {
    font-size: 1.5vw;
}





.config-overlay {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  background: #00000070;
  transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -webkit-transition: all .35s ease-in-out;
  opacity: 1;
}

.config-overlay.hide{
  opacity: 0;
  display: none;
}



.config-overlay-inner {
    width: 30vw;
    background: #000;
    padding: 5vw;
    text-align: center;
    box-shadow: #ffffff36 0 0 6vw;
}


.config-overlay .double-button {
    width:100%;
    margin-top:1vw
}
