body{
    background-color: black;
}


#titleslogan{
    color: white;
    text-align: center;
    margin-bottom: 1%;
    margin-top: 1%;
    font-size: 1.5cqw;
    font-weight: 300;
}

#centerSection{
    display:flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    /* align-items: flex-start; */
    /* flex-direction: row; */
}

#gameCard{
    margin-left: 20px;
    margin-right: 20px;
    width: 25%;
    display: block;
}

#gameImage {
    height: 7cqw;
    width: 14cqw;
    background-color: #555;
    box-shadow: 0 0 100px 1px #555;
    margin-left: auto;
    margin-right: auto;
    /* padding: 20px; */
}

#gameImage img {
  width:100%;
}

.ruleTitle{
    color: white;
    text-align: center;
    margin-bottom: 0px;
    font-size: 0.8cqw;
    text-transform: uppercase;
    letter-spacing: 0.03rem;
}

.gameDescription{
    text-align: center;
    font-size: 0.9cqw;
}





.rewards{
  margin:auto;
  width: 60%;
}
.reward-blocks{
  text-align: left;
}
.reward-percent{
  text-align: right;
}


#gameButtons{
    padding-top: 3cqw;
    display: flex;
    margin: auto;
    justify-content: center;
    gap: 21px;
}

#gameButtons .button{
  margin: 0
}

#mainmenubutton{
    /*
    margin-top: 5%;
    margin-bottom: 5%;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    width: 25%;
    height: 3.5cqw;
    font-size: 2cqw;
    margin-right: 1cqw;
    margin-left: auto;
    */
    animation: glowing 2000ms infinite;
}

#cancelGameAbort, #cancelGameConfirm{
  animation: glowing 0ms infinite;
}


#mainmenubutton:hover, #startgame:hover {
    background-color: white;
    color: white;
  }


#mainmenubutton.disabled:hover, #startgame.disabled:hover {
    background-color: transparent;
    color: white;
  }


#startgame{
    /*
    margin-top: 5%;
    margin-bottom: 5%;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    width: 25%;
    height: 3.5cqw;
    font-size: 2cqw;
    margin-left: 1cqw;
    margin-right: auto;
    */
    animation: glowing 0ms infinite;
}

#separator{
    margin-top: 2cqw;
    width:98%;
    border: 1px solid grey;
}

#bottomInfo{
    display: inline-flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1cqw;
    border-top: 1px #ffffff30 solid;
    padding: 1cqw;
    box-sizing: border-box;
    justify-content: space-around;
}




#player1card{
    display: inline-flex;
    width: 33%;
    align-items: flex-end;
}

#qrcode1{
    height: auto;
    width: 100%;
}


.player-card-info{
  display: flex;
  align-content: space-between;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}


#player1cardinfo{
    padding-left: 1cqw;
    /* padding-top: 3cqw; */
}
#player1sats{
    color: white;
    font-size: 2cqw;
    padding-bottom: 0px;
}

#player1info{
    color: white;
    font-size: 2.5cqw;
    padding-top: 0px;
    margin-top: 0.2cqw;
}


#prizeinfocard{
    display: flex;
    width: 33%;
    align-content: center;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
}


#splits {
  margin-top: 0px;
  color: grey;
  text-align: center;
  font-size: 0.8cqw;
  margin: 1%;
}


#prizevaluesats{
    margin-top: 0px;
    color: white;
    font-size: 3cqw;
    text-align: center;
    margin-bottom: 0px;
}

#prizeinfosats{
    margin-top: 0px;
    color: white;
    font-size: 1.5cqw;
    text-align: center;
    margin-bottom: 0;
}

#player2card{
    display: flex;
    width: 33%;
    justify-content: flex-end;
    flex-direction: row;
    align-items: flex-end;
}

#player2cardinfo{
    /* position: absolute; */
    /* right: 10.5cqw; */
    text-align: right;
    /* padding-top: 3cqw; */
    padding-right: 1cqw;
}

#player2sats{
    color: white;
    font-size: 2cqw;
    padding-bottom: 0px;
}

.sats-label {
    font-size: 1.3cqw;
}

#player2info{
    color: white;
    font-size: 2.5cqw;
    padding-top: 0px;
    margin-top: 0.2cqw;
}

#qrcode2{
    right: 0%;
    height: auto;
    width: 100%;
    position: absolute;
}





.qrcodeContainer {
    position: relative;
    width: 10vw;
    height: 10vw;
    -webkit-transition: all .15s ease-in;
    -moz-transition: all .15s ease-in;
    -o-transition: all .15s ease-in;
    transition: all .15s ease-in;
}

.qrcodeContainer img {
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    border: 0px solid #fff;
    -webkit-transition: all .15s ease-in;
    -moz-transition: all .15s ease-in;
    -o-transition: all .15s ease-in;
    transition: all .15s ease-in;
    box-shadow: none 0px 0px 0px;
}


.expanded .qrcodeContainer {
    width: 50vw;
    background: #000;
    filter: grayscale(1);
}

.expanded .qrcodeContainer img {
    border: 10px solid #fff;
    box-shadow: white 0px 0px 100px;
}


.deposit-message, #player1info, #player2info, .sats-label, #player1sats, #player2sats, .playerSquare{
  -webkit-transition: all .15s ease-in;
  -moz-transition: all .15s ease-in;
  -o-transition: all .15s ease-in;
  transition: all .15s ease-in;
}

.expanded #player1info, .expanded #player2info,
.expanded #player1sats, .expanded #player2sats,
.expanded .sats-label
{
    font-size: 0cqw;
}

.deposit-message{
  font-size: 0.8cqw;
  opacity: 0.5;
  margin-top: 0.7cqw;
}

.expanded .deposit-message{
  font-size: 0px;
  margin-top: 0;
}

.playerSquare{
  width: 2cqw;
  height: 2cqw;
  box-shadow: 0 0 11px #ffffffb0;
}

.expanded .playerSquare {
    width: 0cqw;
    height: 0cqw;
}


#leaderboard {
    color: #000;
    text-align: center;
    width: auto;
    margin: auto;
    background: #fff;
    border-radius: 100px;
    font-size: 0.7vw;
    padding:0.3vw 0.8vw;
    box-shadow: #fff 0px 0px 10px
}

#leaderboard-inner {
  margin:0px
}

#leaderboardSats{
  font-weight: 900;
}


.playerSquare.white{
  margin-right:0.5vw
}
.playerSquare.black{
  margin-left:0.5vw
}
