body{
    background-color: black;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url(../images/chainduel_bg_no_sat.jpg);
}


#titleCanvas{
    margin: 0 15%;
    left: 0;
    right: 0;
    background-color: transparent;
}

#gameCanvas{
    margin: 0 15%;
    left: 0;
    right: 0;
    top: 28%;
    background-color: #6969698f;

    background-image: url(../images/game_bg.png);
    background-size: cover;
    background-position: center;

}

.flex.full.game {
    display: flex;
    justify-content: center;
    flex-grow: unset;
    flex-basis: fit-content;
}


.flex.points, .flex.players {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin: 1rem 15%;
}



.playerSquare {
    width: 2cqw;
    height: 2cqw;
    box-shadow: 0 0 11px #ffffffb0;
}

#player1info {
    color: white;
    font-size: 2.5cqw;
    padding-top: 0px;
    margin-bottom: 10px;
}

#player2info {
    color: white;
    font-size: 2.5cqw;
    padding-top: 0px;
    margin-bottom: 10px;
}


.white {
    background: #fff;
}

.black{
  background: #000
}

.player-sats span {
  font-size: 1cqw;
}


#p1Points{
    color: white;
    margin-right: 0.5rem;
    left: 15%;
    top: 21%;
    font-size: 2.5cqw;
}

#p2Points{
    color: white;
    margin-left: 0.5rem;
    right: 15%;
    top: 21%;
    font-size: 2.5cqw;
}
