body{
    background-color: black;
}

header{
    display: flex;
    justify-content: space-between
}

#chain{
    color: white;
    margin-top: 0%;
    margin-left: 1%;
    text-align: left;
    font-size: 2.5cqw;

}

#duel{
    color: white;
    margin-top: 0%;
    text-align: right;
    font-size: 2.5cqw;
    margin-right: 1%;

}

#titleCanvas{
    margin: 0 15%;
    left: 0;
    right: 0;
    background-color: black;
}

#gameCanvas{
    margin: 0 15%;
    left: 0;
    right: 0;
    top: 28%;
    background-color: DimGray;
}


.flex.full.game {
    display: flex;
    justify-content: center;
    flex-grow: unset;
    flex-basis: fit-content;
}


.flex.points {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin: 1rem 15%;
}


#p1Points{
    color: white;
    margin-right: 0.5rem;
    left: 15%;
    top: 21%;
    font-size: 2.5cqw;
}

#p2Points{
    color: white;
    margin-left: 0.5rem;
    right: 15%;
    top: 21%;
    font-size: 2.5cqw;
}
