@font-face {
  font-family: "BureauGrotesque";
  src: url("fonts/BureauGrotesque/BureauGrotesque.eot");
  src: url("fonts/BureauGrotesque/BureauGrotesque.eot?#iefix") format("embedded-opentype"),
  url("fonts/BureauGrotesque/BureauGrotesque.woff2") format("woff2"),
  url("fonts/BureauGrotesque/BureauGrotesque.woff") format("woff"),
  url("fonts/BureauGrotesque/BureauGrotesque.ttf") format("truetype"),
  url("fonts/BureauGrotesque/BureauGrotesque.svg#BureauGrotesque") format("svg");
}


@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 300;
  font-display: swap;
  src: url("fonts/inter/Inter-Light.woff2?v=3.18") format("woff2"),
       url("fonts/inter/Inter-Light.woff?v=3.18") format("woff");
}



/*
@import url('fonts/inter/inter.css');
*/


html, body, button {
  font-family: 'Inter', sans-serif;
}


body {
  padding: 0;
  margin: 0;
  color: #fff;
  background-color: black;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url(../images/chainduel_bg.png);
  background-size: cover;
  background-position: center;
}

audio {
    height: 0;
}

a {
  color: #00B7FF;
}

.grey{
  color: #fff;
  opacity: 0.5;
}

h1, h2, h3, h4, .condensed {
  margin-top: 0px;
  line-height: 0.95;
  text-align: center;
  font-family: "BureauGrotesque";
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: -0.05rem;
}


.flex{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-center{
  justify-content:center;
}

.full{
  width: 100vw;
  min-height: 100vh
}



#brand {
  position: fixed;
  margin-top: 1rem;
  width: 100%;
}

@keyframes glowing {
  0% {
    background-color: transparent;
    box-shadow: 0 0 5px transparent;
  }
  50% {
    background-color: rgb(255 255 255 / 29%);
    box-shadow: 0 0 25px rgb(255 255 255);
  }
}


.button{
    margin-top: 2%;
    margin-bottom: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    width: 25%;
    height: 8%;
    font-size: 14px;
    padding: 20px;
    letter-spacing: 0.1rem;
}

.qrcode {
  filter: invert(1);
  mix-blend-mode: screen;
}
