#bracket{
    margin: 0 5vw;
}



#mainmenubutton {
    animation: glowing 2000ms infinite;
}


.pages {
    position: relative;
    height: 35vw;
}

.page {
    position: absolute;
    font-size: 1.3vw;
    height: 100%;
    width: 100%;
}

.page-inner{
  display: grid;
  height: 80%;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  align-content: center;
  row-gap: 0%;
}

.page-inner h1 {
  margin: auto;
  margin-bottom: 1rem;
}


.pager {
  margin: 2% auto;
  text-align: center;
  letter-spacing: 0.5rem;
  width: 100%;
  font-size: 1vw;
}
