body{
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgb(0 0 0 / 81%)), url(../images/chainduel_bg.jpg);
}


#bracket{
    margin: -4vw 1vw 0 1vw;
}


#bracket4players {
  max-width: 80%;
  margin: 3vw auto 2vw auto;
}

#bracket8players {
  max-width: 90%;
  margin: 1.5vw auto -2vw auto;
}


.tournament-header{
  margin: 0 0 -3cqw 0;
}


#tournament-name.hero-outline{
  font-size: 5cqw;
}


#backButton {
    animation: glowing 2000ms infinite;
}

#proceedButton{
  animation: glowing 0ms infinite;
}



.pages {
    position: relative;
    height: 40vw;
}

.page {
    position: absolute;
    font-size: 1.3vw;
    height: 100%;
    width: 100%;
    text-align: center;
}

.page-inner{
  display: grid;
  height: 80%;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  align-content: center;
  row-gap: 0%;
}

.page-inner h1 {
  margin: auto;
  margin-bottom: 1rem;
}


.pager {
  margin: 2% auto;
  text-align: center;
  letter-spacing: 0.5rem;
  width: 100%;
  font-size: 1vw;
}


.nextGameButton{
  animation: glowing 2000ms infinite;
  height: auto;
  width: auto;
  height: 3vw;
  width: 25%;
}

.claimSatsButton{
  animation: glowing 2000ms infinite;
  height: 20%;
  width: 26%;
}






.bracketPayment{width: 25%;height: 35vw;background: black;position: absolute;bottom: 8.2vw;left: 50%;margin-left: -12.5%;/* padding: 1vw; */box-sizing: border-box;box-shadow: white 0px 0px 100px;text-align: center;display: flex;flex-direction: column;justify-content: space-between;}

.buttonsDiv{
  display: flex;
}


.nextGameDiv{
  display:none;
  width: 100%;
  height: 15vw;
  position: absolute;
  bottom: 8.2vw;
  padding: 1vw;
  box-sizing: border-box;
  text-align: center;
  margin-top: 9vw;
}

#nextGameName{
  -webkit-text-stroke-width: 1px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: white;
  font-size: 2.5vw;
  margin:0;
}

#nextGamePlayers{
  display: flex;
  margin: auto;
  width: 100%;
  justify-content: center;
  gap: 1vw;
  margin-bottom: 3%;
  padding-top: 0%;
  align-items: center;
  font-size: 1.5vw;
}


.playerName{
  font-size: 4vw;
}

.playerSquare{
  width: 3cqw;
  height: 3cqw;
  box-shadow: 0 0 19px #ffffffb0;
}


.tournFinishedDiv{
  display:none;
  width: 100%;
  height: 19vw;
  position: absolute;
  bottom: 4vw;
  padding: 1vw;
  box-sizing: border-box;
  text-align: center;
  background: radial-gradient(#000000b3,#000000a1,#00000061, #00000000, #00000000);
}

#winnerName {
    font-size: 7vw;
}

#tournFinishedDiv h2{
  font-size: 2.5vw;
  margin: 0;
}

.tournbracket4SVG{
  display:none;
}

.tournbracket8SVG{
  display:none;
}

.tournbracket16SVG{
  display:none;
}

.tournbracket32SVG{
  display:none;
}

#bracket32players {
    max-width: 85%;
    margin: -4vw auto 0vw auto;
}

.issuerefundsdiv{
  display:none;
  padding: 1.5vw;
  font-size: 1.2vw;
}

.issuerefundsdiv h2{
  font-size: 2vw;
}

.issuerefundssecond{
  display:none;
}

.issuerefundssecond #qrWithdrawal {
    display: block;
    margin: auto;
    width: 20vw;
    height: 20vw;
}

.bracketPayment .label {
    font-size: 0.8vw;
    text-transform: uppercase;
    opacity: 0.7;
}

.bracketPayment .button {
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    height: 100%;
    padding: 3%;
}

#buyinvalue {
    font-size: 3vw;
    display: inline;
    padding-left: 1vw;
}

.bracketPaymentInner{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#qrTournament {
  width:15vw;
  height:15vw;
}

#qrTournamentCheck{
  width:15vw;
  height:15vw;
  display: none;
  margin: auto;
}

.depositedvalue{
  font-size: 0.8vw;
}

#buyinDepositLabel,
#paymentNote{
  transition: all 0.5s ease-out;
}

.paymentComplete #buyinDepositLabel,
.paymentComplete #paymentNote{
  font-size: 0;
}




/* Sponsroship payment */
.bracketPayment .sponsored-img{
    margin-top: -2vw;
    height: 2.5vw;
    margin-bottom: 2vw;
}

.bracketPayment {
    width: 30%;
    height: 38vw;
    margin-left:-15%;'
}
