#bracket{
    margin: 0 5vw;
}



#tournament-name.hero-outline{
  margin: 0 0 -4cqw 0;
  font-size: 6cqw;
}


#backButton {
    animation: glowing 2000ms infinite;
}

#proceedButton{
  animation: glowing 0ms infinite;
}



.pages {
    position: relative;
    height: 35vw;
}

.page {
    position: absolute;
    font-size: 1.3vw;
    height: 100%;
    width: 100%;
    text-align: center;
}

.page-inner{
  display: grid;
  height: 80%;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  align-content: center;
  row-gap: 0%;
}

.page-inner h1 {
  margin: auto;
  margin-bottom: 1rem;
}


.pager {
  margin: 2% auto;
  text-align: center;
  letter-spacing: 0.5rem;
  width: 100%;
  font-size: 1vw;
}


.nextGameButton{
  animation: glowing 2000ms infinite;
  height: auto;
  width: auto;
}



.bracketDetails {
    width: 100%;
    position: absolute;
    bottom: 0px;

    display: flex;
    justify-content: center;
    text-align: center;
    border-top: 1px solid #ffffff36
}


.bracketDetail{
  width: 25%;
  padding:1vw;
  box-sizing: border-box;
  border-right: 1px solid #ffffff36;
}
.bracketDetail:last-child{
  border-right:none
}
.bracketDetail .label{
  font-size:1vw;
  text-transform: uppercase;
  opacity:0.7
}

.bracketDetail .value{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: flex-end;
  gap: 0.2vw;
  padding-left: 1.5vw;
}


.bracketDetail .value.players{
  padding-left: 0;
}


.bracketDetail .value h3{
  font-size:3vw;
  margin-bottom: 0;
}



.bracketPayment{width: 25%;height: 35vw;background: black;position: absolute;bottom: 8.2vw;left: 50%;margin-left: -12.5%;/* padding: 1vw; */box-sizing: border-box;box-shadow: white 0px 0px 100px;text-align: center;display: flex;flex-direction: column;justify-content: space-between;}

.buttonsDiv{
  display: flex;
}


.nextGameDiv{
  display:none;
  width:30%;
  height: 15vw;
  position: absolute;
  bottom: 6.2vw;
  left: 50%;
  margin-left: -15%;
  padding: 1vw;
  box-sizing: border-box;
}

.tournbracket4SVG{
  display:none;
}

.tournbracket8SVG{
  display:none;
}

.tournbracket16SVG{
  display:none;
}

.issuerefundsdiv{
  display:none;
  padding: 1.5vw;
  font-size: 1.5vw;
}

.issuerefundssecond{
  display:none;
}

.issuerefundssecond #qrWithdrawal {
    display: block;
    margin: auto;
    width: 20vw;
    height: 20vw;
}

.bracketPayment .label {
    font-size: 0.8vw;
    text-transform: uppercase;
    opacity: 0.7;
}

.bracketPayment .button {
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    height: 100%;
    padding: 3%;
}

#buyinvalue {
    font-size: 3vw;
    display: inline;
    padding-left: 1vw;
}

.bracketPaymentInner{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#qrTournament {
  width:15vw;
  height:15vw;
}

#qrTournamentCheck{
  width:15vw;
  height:15vw;
  display: none;
  margin: auto;
}

.depositedvalue{
  font-size: 0.8vw;
}


#buyinDepositLabel,
#paymentNote{
  transition: all 0.5s ease-out;
}


.paymentComplete #buyinDepositLabel,
.paymentComplete #paymentNote{
  font-size: 0;
}
